# 原始gitignore
.venv/
__pycache__/
*.pyc
runs/
*.pt

# 最终 checkpoint 文件
!code/final/full-10000/swa-checkpoint.pt
!code/final/baseline-10000/checkpoint.pt

# macOS 系统文件
.DS_Store
**/.DS_Store

# 数据集与文本文件
code/data/*.txt
code/data/tokenizer.json

# 过程文件
process/*
!process/RECORD_EN.md
!process/GUIDE.md

# # 报告文件
# report/